---
import Container from "./Container.astro";
---

<footer class="   py-5">
    <hr class="h-px my-8  bg-gray-200 border-0 dark:bg-gray-700 mt-10" />

  <Container>
    <div class="m-auto  md:w-10/12 lg:w-8/12 xl:w-6/12">
      <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
        <div
          class="flex w-full justify-center space-x-12 text-gray-600 dark:text-gray-300 sm:w-7/12 md:justify-start"
        >
          <div>
            <img width="200 " src="../../public/images/test/BJC logo.png" />
          </div>
        </div>
        <div
          class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-5/12 sm:text-left"
        >
          <span class=" text-gray-900 dark:text-gray-900"
            >ผลิตในประเทศไทย โดย บริษัท เบอร์ลี่ ยุคเกอร์ เซลล็อกซ์ จำกัด
            จัดจำหน่ายโดย บริษัท เบอร์ลี่ ยุคเกอร์ จำกัด (มหาชน) เลขที่ 99
            ซอยรูเบีย ถนนสุขุมวิท 42 แขวงพระโขนง เขตคลองเตย กรุงเทพ 10110</span
          >
        </div>
      </div>
    </div>
  </Container>
</footer>
