---
import Container from "./Container.astro";
---

<div class="relative" id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 bg-white"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
  <Container>
    <div class="relative pt-36 ml-auto">
      <div>
        <div class="wrapper">
          <div class="sliding-background"></div>
        </div>
      </div>
      <div
        class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between"
      >
        <div class="lg:w-2/3 text-center mx-auto">
          <h1
            class="text-gray-900 m-5 dark:text-gray-900 font-bold text-5xl md:text-6xl xl:text-7xl"
          >
            สารพัดงาน
            <span class="text-orange-500">เช็ด</span>
            <span class="text-orange-400">เก็บ</span>
            <span class="text-orange-300">ซับ</span>
            <br/>
            <span class="text-gray-700 dark:text-gray-900"
              >สะอาดวับในพริบตา.</span
            >
          </h1>
          <p class="mt-8 text-gray-900 dark:text-gray-700">
            แม๊กซ์โม่ กระดาษอเนกประสงค์คุณภาพพิเศษ พัฒนาจากเทคโนโลยีเฉพาะ จึงหนา
            เหนียว และซึมซับขั้นสุดยอด ด้วย Wonder Fiber ใหม่ ซึมซับดีขึ้น
            เหมาะกับสารพัดการใช้งาน ทั้งงานเช็ด เก็บ ซับ ทุกประเภท
            สะอาดถูกสุขอนามัย กว่าการใช้ผ้าขี้ริ้ว ที่เป็นแหล่งสะสมของเชื้อโรค
            และแบคทีเรีย ผ่านมาตรฐาน FDA สหรัฐอเมริกา
            สามารถสัมผัสอาหารได้อย่างปลอดภัย
          </p>
          <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
            <a
              href="#"
              class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
            >
              <span
                class="relative text-base font-semibold text-primary dark:text-white"
                >Learn more</span
              >
            </a>
          </div>
        </div>
        <div class="mt-12 grid"></div>
      </div>
    </div>
  </Container>
  <style>
    .wrapper {
      overflow: hidden;
    }

    .sliding-background {
      background: url("../../public/images/test/maxmoimage.png") repeat-x;
      height: 560px;
      width: 5076px;
      animation: slide 60s linear infinite;
    }

    @keyframes slide {
      0% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(-1692px, 0, 0);
      }
    }
  </style>
</div>
