---
import Container from "./Container.astro";
---

<div id="solution">
  <Container>
    <div
      class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
    >
      <div class="md:/12 lg:w-2/3">
        <video controls autoplay muted>
          <source src="../../public/images/test/maxx.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="md:7/12 flex-inline lg:w-1/2">
        <h2 class="text-3xl mt-5 font-bold text-gray-900 md:text-4xl">
          WONDER USAGES BY <span
            class="font-extrabold text-transparent text-4xl bg-clip-text bg-gradient-to-r from-secondary to-orange-200"
          >
            MAXMO
          </span>
        </h2>
        <p class="my-8 text-gray-600 dark:text-gray-300">
          รวมคลิปว้าวๆ ของกระดาษอเนกประสงค์ แม๊กซ์โม่
          ที่ใช้ได้สารพัดวิธีจนคุณอาจคาดไม่ถึง
          <!-- <br />
          <br /> Vitae error, quaerat officia delectus voluptatibus explicabo quo
          pariatur impedit, at reprehenderit aliquam a ipsum quas voluptatem. Quo
          pariatur asperiores eum amet. -->
        </p>
        <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
          <div class="mt-8 flex gap-4">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6 m-auto text-indigo-500 dark:text-indigo-400"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="w-5/6">
              <h3
                class="font-semibold text-lg text-gray-700 dark:text-indigo-300"
              >
                Maxmo Wonder Usages
              </h3>
              <p class="text-gray-500 mt-1 flex flex-inline dark:text-gray-400">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span class="ml-2">ฝุ่นช่องแอร์</span>
              </p>
              <p class="text-gray-500 mt-1 flex flex-inline dark:text-gray-400">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span class="ml-2">ล้างองุ่นเม็ดไม่ร่วง</span>
              </p>
              <p class="text-gray-500 mt-1 flex flex-inline dark:text-gray-400">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span class="ml-2">เครื่องปิ้งขนมปังสะอาดวับ</span>
              </p>
              <p class="text-gray-500 mt-1 flex flex-inline dark:text-gray-400">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span class="ml-2">อบเบคอนกรอบแม็กซ์</span>
              </p>
            </div>
          </div>
        </div>
        <div class="group relative">
          <a
            href="#"
            class="flex mt-5 flex-row justify-end mr-5 group-hover:text-secondary"
          >
            <span class="text-sm">Read more</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 ml-2 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
            >
              <path
                fill-rule="evenodd"
                d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <img
        class="rounded-3xl"
        src="../../public/images/test/bubble (1).png"
        height="512"
      />
    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700 mt-10" />
  </Container>
</div>
